@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}
 
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    overflow-y: scroll;
}
 
blockquote, q {
    quotes: none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
input, textarea{
    margin: 0;
    padding: 0;
}
 
ol, ul{
    list-style:none;
}
 
table{
    border-collapse: collapse; 
    border-spacing:0;
}
 
caption, th{
    text-align: left;
}
 
a:focus {
    outline:none;
}
 
.clearfix:after {
    content: "."; 
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
 
.clearfix {
    min-height: 1px;
}
 
* html .clearfix {
    height: 1px;
    /*¥*//*/
    height: auto;
    overflow: hidden;
    /**/
}

body{
-webkit-text-size-adjust: 100%;
}
/*
=========================
===========共通==============
=========================	
*/

@charset "UTF-8";

/*------------------------------------------------------------
ブラウザ固有のCSSをリセット
-------------------------------------------------------------*/

*{ letter-spacing: 0; }

html{ overflow-y: scroll; }

body,div,ol,ul,li,
h1,h2,h3,h4,h5,h6,pre,form,fieldset,
input,p,blockquote{
	margin: 0;
	padding: 0;
}

address,caption,cite,code,dfn,var,h1,h2,h3,h4,h5,h6{
	font-style: normal;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,small{
	font-size: 100%;
	font-weight: normal;
}

fieldset,img,abbr{ border: 0; }

caption{ text-align: left; }

q{ quotes: none; }

q:before,q:after{
	content: '';
	content: none;
}

a{ text-decoration: none; }

a:hover,
a:active{ outline: 0; }

img{
	border: 0;
	vertical-align: bottom;
	-ms-interpolation-mode: bicubic;
}

b,strong{ font-weight: bold; }

div{ word-wrap: break-word; }

sub,sup{
	position: relative;
	line-height: 0;
	vertical-align: baseline;
	font-size: 75%;
}
sup{ top: -0.5em; }
sub{ bottom: -0.25em; }

pre,code{
	font-size: 1em;
	font-family: sans-serif;
}

pre{
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

form{ margin: 0; }

button,input,select,textarea,optgroup,option{
	margin: 0;
	font-family: sans-serif;
	font-size: 100%;
	vertical-align: baseline;
}

* html button,
* html input,
* html select,
* html textarea{ vertical-align: middle; } /* IE6 */

*+html button,
*+html input,
*+html select,
*+html textarea{ vertical-align: middle; } /* IE7 */

button,input{ line-height: normal; }

* html button,
* html input{ overflow: visible; } /* IE6 */

*+html button,
*+html input{ overflow: visible; } /* IE7 */

textarea{
	overflow: auto;
	vertical-align: top;
}

input[type="text"],textarea{ padding: 2px; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"]{ -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner{
	margin: 0;
	padding: 0;
	border: 0;
}

/*--------------------------------------------------------
レイアウトの初期設定
-------------------------------------------------------*/
body{
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	font-style: normal;
	line-height: 1.5;
}

table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}

* html table{ border-collapse: collapse; } /* IE6 */
*+html table{ border-collapse: collapse; } /* IE7 */

hr{
	clear: both;
	height: 1px;
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	border-top: 1px solid #ccc;
	color: #ccc;
	font-size: 1.0em;
	line-height: 1.0em;
}
* html hr{ margin: 0 0 1.2em; } /* IE6 */
*+html hr{ margin: 0 0 1.2em; } /* IE7 */


.p10{font-size:10px;} .p11{font-size:11px;} .p12{font-size:12px;} .p13{font-size:13px;} .p14{font-size:14px;} .p15{font-size:15px;} .p16{font-size:16px;} .p17{font-size:17px;} .p18{font-size:18px;} .p19{font-size:19px;} .p20{font-size:20px;} .p21{font-size:21px;} .p22{font-size:22px;} .p23{font-size:23px;} .p24{font-size:24px;} .p25{font-size:25px;} .p26{font-size:26px;} .p27{font-size:27px;} .p28{font-size:28px;} .p29{font-size:29px;} .p30{font-size:30px;} .p31{font-size:31px;} .p32{font-size:33px;} .p34{font-size:34px;} .p35{font-size:35px;} .p36{font-size:36px;} .p37{font-size:37px;} .p38{font-size:38px;} .p39{font-size:39px;} .p40{font-size:40px;} .p41{font-size:41px;} .p42{font-size:42px;}

.float_left{
	float: left;
}
.float_right{
	float: right;
}
.clr{
	clear: both;
}

.gosic{
	font-family:'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.mincho{
	font-family:'Hiragino Mincho ProN', serif;
}
.margin-bottom20{
margin-bottom:20px;
}
.margin-bottom30{
margin-bottom:30px;
}
.clearfix:after { /*floatの解除、ここがポイント*/
	display:block;
	clear:both;
	height:0px;
	visibility:hidden;
	content:".";
}
.clearfix {
	min-height: 1px; /*IE6、7対策*/
}
* html .clearfix {
	height: 1px;
	/*¥*//*/ /*MAC IE5.x対策*/
	height: auto;
	overflow: hidden;
	/**/
}

.w10{
	width: 100%;
}
.w2{
	width: 19%;
	
}
.w5{
	width: 49%;
	
}
.w6{
	width: 59%;
}
.w4{
	width: 39%;
}
.w3{
	width: 29%;
}
.w7{
	width: 69%;
}
.w8{
	width: 79%;
}
.w1{
	width: 9%
}
.w9{
	width: 89%;
}

.alignleft{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.alignright{
	margin-left: 15px;
	margin-bottom: 15px;
	float: right;
}

